.searcher {
  text-align: center;
  width: 1px;
  height: 65px;
  color: black;
}

.search-container {
  width: 410px;
  background-color: var(--background-color-header);
  position: relative;
  left: 64px;
  bottom: 55px;
  padding: 5px;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

input {
  width: 400px;
}

.search-inner {
  display: flex;
}

.show-searcher-btn {
  background: inherit;
  border: none;
  width: 35px;
  height: 35px;
}

.div-searcher {
  width: 35px;
  height: 35px;
}

.show-searcher-img {
  position: relative;
  left: 10px;
  width: 35px;
  height: 35px;
  color: var(--font-color);
}

.searcher-btn {
  margin-left: 10px;
  width: 80px;
}