.searcher {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 950px;
  height: 65px;
  position: absolute;
  top: 60px;
  right: -190%;
}

.search-container {
  width: 950px;
  height: 65px;
  display: flex;
  flex-direction: column;
  background-color: #2176ae;
  padding: 15px;
}

.dropdown {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
}

.dropdown:empty {
  border: none;
}

.dropdown-row {
  cursor: pointer;
  text-align: start;
  margin: 2px 0;
}

input {
  width: 830px;
}

.search-inner {
  display: flex;
}

.show-searcher-btn {
  background: inherit;
  border: none;
  width: 35px;
  height: 35px;
}

.div-searcher {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 90%;
  top: 2%;
}

.show-searcher-img {
  position: relative;
  right: 5px;
  width: 35px;
  height: 35px;
  color: var(--font-color);
}

.show-searcher-img:hover {
  color: rgba(33, 118, 174, 0.8);
}

.searcher-btn {
  margin-left: 10px;
  width: 80px;
}

@media only screen and (max-width: 1000px) {
  .div-searcher {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 76%;
  }

  .searcher {
    width: 290px;
    height: 65px;
    margin: 0 auto;
    position: absolute;
    right: 20px;
  }
}
