
.redirection {
  padding: 25px;
  color: var(--font-color);
}

.redirection a {
  padding: 15px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: var(--font-color);
  text-decoration: none;
  background-color: var(--background-color-header);
  border-radius: 10px;
}

.redirection a:hover {
  color: var(--font-color);
  text-decoration: none;
  opacity: 70%;
}