.code-container {
  background-color: var(--background-code-container);
  border-radius: 10px;
  margin: 0 auto;
}

.code-container-h3 {
  color: var(--font-color);
  height: 80px;
  padding: 30px;
  text-align: left;
}

.copy-btn {
  width: 35px;
  height: 35px;
  background: inherit;
  border: none;
  border-radius: 100%;
}

.copy-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.copy-img {
  color: var(--font-color);
}

.code-inside {
  width: 90%;
  margin-right: 15px;
  float: right;
  background-color: var(--background-code-inside);
  text-align: left;
  color: var(--font-color);
}

@media only screen and (max-width: 630px) {
  .code-inside {
    width: 85%;
  }
}

@media only screen and (max-width: 499px) {
  .code-inside {
    width: 80%;
  }
}
