.header {
  background-color: var(--background-color-header);
  display: flex;
  z-index: 1;
}

.icon-home {
  width: 77px;
  height: 70px;
  margin-left: 1.5%;
  float: left;
}

.icon-home-img {
  width: 75px;
  height: 75px;
  color: #2176AE;
}

.icon-home-img:hover {
  color: rgba(33, 118, 174, 0.8);
}

#nav-btn {
  width: 117px;
  height: 75px;
  background-color: var(--background-color-header);
  border: none;
  float: left;
  color: var(--font-color);
  font-size: 18px;
}

#nav-btn:hover,
.about-us:hover {
  background-color: #2176AE;
  color: white;
}

.about-us {
  text-decoration: none;
  color: var(--font-color);
  width: 117px;
  height: 75px;
  float: left;
  text-align: center;
  padding: 23.4px;
  border-radius: 10px;
  background-color: var(--background-color-header);
}

.dark-mode {
  position: absolute;
  left: 95%;
  top: 2%;
}

.d-inline {
  border: solid red;
}

@media only screen and (max-width: 1000px) { 
  .dark-mode {
    position: absolute;
    left: 92%;
  }

  #nav-btn {
    width: 100px;
    font-size: 15px;
  }

  .about-us {
    width: 100px;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
  }
}
