colores {
  color: #090809;
  color: #2176AE;
  color: #FEA82F;
  color: #D81159;
  color: #9ABD97;
  color: #161925;
}

:root {
  --white: white;
  --black: black;
  --dark: #090809;
  --light: #E7E9EB;
  --dark-code-inside: #15202B;
  --dark-code-container: #38444D;
}

body.light {
  --background-color-header: var(--white);
  --background-code-inside: var(--white);
  --background-code-container: var(--light);
  --font-color: var(--black);
}

body.dark {
  --background-color-header: var(--dark);
  --background-code-container: var(--dark-code-container);
  --background-code-inside: var(--dark-code-inside);
  --font-color: var(--white);
}

.header {
  background-color: var(--background-color-header);
  height: 75px;
  margin: 0 auto;
}

.icon-home {
  width: 77px;
  height: 70px;
  margin-left: 1.5%;
  float: left;
}

.icon-home-img {
  width: 75px;
  height: 75px;
  color: #2176AE;
}

.icon-home-img:hover {
  color: rgba(33, 118, 174, 0.8);
}

#nav-btn {
  width: 117px;
  height: 75px;
  background-color: var(--background-color-header);
  border: none;
  float: left;
  color: var(--font-color);
  font-size: 18px;
}

#nav-btn:hover,
.about-us:hover {
  background-color: #2176AE;
  color: white;
}

.about-us {
  text-decoration: none;
  color: var(--font-color);
  width: 117px;
  height: 75px;
  float: left;
  text-align: center;
  padding: 23.4px;
  border-radius: 10px;
  background-color: var(--background-color-header);
}

.dark-mode {
  position: absolute;
  left: 95%;
  top: 2%;
}

.d-inline {
  border: solid red;
}

@media only screen and (max-width: 1000px) { 
  .dark-mode {
    position: absolute;
    left: 92%;
    top: 2.3%;
  }
}
