.examples-pseudo-1::first-line {
  text-transform: uppercase;
}

.examples-pseudo-2::first-letter {
  font-size: 2em;
}

.pseudo-a-1:link {
  color: red;
}

.pseudo-a-2:visited {
  color: green;
}

.pseudo-a-3:hover {
  color: grey;
}

.pseudo-a-4:active {
  color: coral;
}

.ul-style-image {
  list-style-image: url(../images/color_rosa.png);
}

.ul-menu-example {
  clear: both;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border-left: 1px solid #7c7c7c;
}

#collapse-example {
  border: 1px solid #000;
  border-collapse: collapse;
}

#collapse-example tr, #collapse-example td,
#separate-example tr, #separate-example td {
  border: 1px solid #000;
}

#separate-example {
  border: 1px solid #000;
  border-collapse: separate;
}

.div-example {
  border: solid black;
  height: 150px;
  width: 100px;
}

.image-div-example {
  background-image: url(../images/color_rosa.png);
  height: 100px;
}

.image-div-example-1 {
  background-image: url(../images/color_rosa.png);
  height: 100px;
  border: solid black;
}

.image-div-example-2 {
  background-image: url(../images/color_rosa.png);
  height: 100px;
  border: solid black;
  background-repeat: repeat-x;
}

.image-div-example-3 {
  background-image: url(../images/color_rosa.png);
  height: 100px;
  border: solid black;
  background-repeat: repeat-y;
}

.image-div-example-4 {
  background-image: url(../images/color_rosa.png);
  border: solid black;
  height: 100px;
  background-repeat: no-repeat;
}

.image-div-example-5 {
  background-image: url(../images/color_rosa.png);
  border: solid black;
  height: 100px;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.image-div-example-6 {
  background-image: url(../images/color_rosa.png);
  border: solid black;
  height: 100px;
  background-position: top;
  background-repeat: no-repeat;
}

.image-div-example-7 {
  background-image: url(../images/color_rosa.png);
  border: solid black;
  height: 100px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.image-div-example-8 {
  background-image: url(../images/color_rosa.png);
  border: solid black;
  background-position: left;
  height: 100px;
  background-repeat: no-repeat;
}