.side h1 {
  font-size: 20px;
  text-align: center;
}

.side a {
  text-decoration: none;
  padding: 2px 1px 1px 16px;
  display: block;
  width: 100%;
  color: var(--font-color);
}

.side a:hover {
  background-color: rgba(33, 118, 174, 0.8);
}

/* Sidebar/left column */
.side {
  padding-top: 20px;
  padding-bottom: 20px;
  flex: 15%;
  height: 100vh;
  overflow-y: visible;
  overflow-x: hidden;
  background-color: var(--background-color-header);
  color: var(--font-color);
}

@media screen and (max-width: 1000px) {
  .side {
    display: none;
  }
}
