.footer {
  background-color: var(--background-color-header);
  color: var(--font-color);
  padding: 15px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: normal;
  margin-left: 64px;
}

.footer-h5 {
  width: 400px;
  float: left;
}

.icon-links {
  height: 35px;
  width: 35px;
  margin: 2px;
  color: var(--font-color);
}