footer {
  background-color: var(--background-color-header);
  color: var(--font-color);
  width: 100%;
  float: right;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.footer-h5 {
  width: 400px;
}

.icon-links {
  height: 40px;
  width: 40px;
  margin: 7px;
  color: var(--font-color);
}