colores {
  color: #090809;
  color: #2176ae;
  color: #fea82f;
  color: #d81159;
  color: #9abd97;
  color: #161925;
}

:root {
  --dark-background-color: #1d2a35;
  --white: white;
  --black: black;
  --orange: #fea82f;

  --light: #e7e9eb;
  --dark: #15202b;

  --dark-code-inside: #15202b;
  --dark-code-container: #38444d;
}

body.light {
  --background-color-header: var(--light);
  --background-code-inside: var(--white);
  --background-code-container: var(--light);
  --font-color: var(--black);
  --font-color-nav: var(--dark);
  --background-color: var(--white);
}

body.dark {
  --background-color-header: var(--dark);
  --background-code-container: var(--dark-code-container);
  --background-code-inside: var(--dark-code-inside);
  --font-color: var(--white);
  --font-color-nav: var(--orange);
  --background-color: var(--dark-background-color);
}

body {
  background-color: var(--background-color);
  margin: 0;
}

/* SIDENAV */
.sidenav---sidenav-subnav---1EN61 {
  background-color: var(--background-color);
  border: 1px var(--background-color) solid;
}

.sidenav---sidenav-subnavitem---1cD47 {
  color: var(--font-color);
}

.presentation-code,
.footer,
.presentation,
.main {
  margin-left: 64px;
}

/* PAGES CONTENT */
.main {
  background-color: var(--background-color);
  color: var(--font-color);
  padding-bottom: 90px;
}

.main h1 {
  padding: 25px;
}

.introduction {
  background-color: var(--background-color-header);
  padding: 25px;
}

.content-code h2,
.content-code p {
  padding: 25px;
}

.content-code table {
  border: solid var(--background-color-header);
  width: 80%;
  margin: 0 auto;
}

.content-code tr,
.content-code td {
  padding: 15px;
  border: solid var(--background-color-header);
  text-align: center;
}

.links {
  color: var(--font-color);
}

.examples {
  margin: 15px;
  border: solid var(--background-color-header);
  overflow-y: auto;
}

.examples * {
  margin: 10px;
}

.examples input {
  width: 200px;
}